{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "last 18 versions",
                        "safari >= 1"
                    ]
                }
            }
        ]
    ]
}